#house_picture {
    width: 666px;
    height: 333px;
    
}

.appartamento_sinistra {
    text-align: left;
    border-radius: 4px;
  }
  
.appartamento_destra {
    text-align: right;
    border-radius: 4px;
  }
  
  .appartamento_sinistra > p {
  float: right;
  margin-right: 50%;
  }
  
  .appartamento_destra > p {
    float: left;
    margin-left: 50%;
  
   }
  
  
  .container {
    margin-left: 8px;
    margin-right: 8px;
  }